* {
    font-family: 'Poppins', sans-serif;
}

/* navbar style start */
.nav-color {
    background-color: #f5a030 !important;
}

.nav-item a {
    color: #000 !important;
    text-decoration: none !important;
    transition: 0.5;
}

.nav-item a:hover {
    color: #fff !important;
    transition: 0.5s;
}

/* navbar style end */

/* home page style strat */
.colorI {
    background-color: #f5a741;
}

.colorP {
    background-color: #f5a741;
}

.cardHome {
    width: 50vh !important;
    background-color: #f5a741 !important;
    border: none !important;
}

.row {
    justify-content: center;
}

/* home page style end */

/* home animation start */
section {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* home animation end */

/* project bootstrap start */
.projectStyle {
    padding-top: 2.5em;
    /* max-width: 21rem !important; */
}

.row .Project {
    height: 250px;
    width: 350px;
    background-color: #333;
    border-radius: 10px;
    outline: 1px solid #000;
    outline-offset: -8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden;
}

.Project-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 0.75s;
}

.Project-title {
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

.Project:hover .Project-image {
    transform: scale(1.5);
}

/* project bootstrap end */

/* contect form start */
.c-form {
    padding-top: 4rem;
}

.c-form h2 {
    text-align: center;
    font-weight: bolder;
}

.c-form input,
textarea {
    text-transform: capitalize !important;
}

.c-form .c-btn {
    background-color: #e7a043dd;
}

.c-form .c-btn:hover {
    background-color: #f5a030;
}

.contectForm {
    min-height: 75vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(image/header.jpg);
    background-attachment: fixed;
    background-position: center;
    position: relative;
    background-size: cover;

}

/* contect form end */


@media(max-width:992px) {
    .nav-item a {
        text-align: center !important;
    }

    /* home animation start media */
    section {
        display: flex !important;
        text-align: center;
    }

    .animation {
        position: relative;
        opacity: 0;
    }

    .animation.active {
        opacity: 1;
    }

    .active.fadeMedia-right {
        animation: fade-right 1s ease-in;
    }

    .active.fadeMedia-left {
        animation: fade-left 1s ease-in;
    }

    @keyframes fadeMedia-right {
        0% {
            transform: translateX(100px);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes fadeMedia-left {
        0% {
            transform: translateX(-100px);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    /* home animation end media */



}